body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('backgroundd.jpeg'); 
    background-size: cover;
    font-family: Arial, sans-serif;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(8px);
    z-index: -1;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

h1 {
    margin-bottom: 20px;
}

.btn {
    margin: 5px;
}

.navigation {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.9em;
}

.navigation a {
    color: #007bff;
    text-decoration: none;
    margin-left: 10px;
}

.navigation a:hover {
    text-decoration: underline;
}
